In [30]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import sklearn

In [20]:
ds = pd.read_csv('/users/yajashkadian/data/titanic.csv')
print(ds.columns)

ds.head()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
# Count the number of NaN in each column

ds.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:
cols_to_drop = ['PassengerId','Name','Ticket','Cabin','Embarked']
df = ds.drop(cols_to_drop, axis=1)

print(df.columns)
df.head()

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [23]:
# Drop rows that contain NaN (Mostly in the 'Age' column)

print(df.values.shape)
r_old = df.values.shape[0]

df = df.dropna(axis=0)
print(df.values.shape)
r_new = df.values.shape[0]

print(f'{r_old-r_new} rows dropped')

(891, 7)
(714, 7)
177 rows dropped

In [24]:
sex_mapping = {
    'male' : 0,
    'female': 1,
}
df.Sex = df.Sex.map(sex_mapping)

df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    0  22.0      1      0   7.2500
1         1       1    1  38.0      1      0  71.2833
2         1       3    1  26.0      0      0   7.9250
3         1       1    1  35.0      1      0  53.1000
4         0       3    0  35.0      0      0   8.0500

In [25]:
data = df.values

## Split into Test and Training
split = int(0.80*data.shape[0])

X_train = data[:split,1:]
X_test = data[split:, 1:]

Y_train = data[:split, 0]
Y_test = data[split:, 0]

print(X_train.shape)
print(X_test.shape)

print(Y_train.shape)
print(Y_test.shape)

(571, 6)
(143, 6)
(571,)
(143,)

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
lr = LogisticRegression()

In [28]:
lr.fit(X_train,Y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [32]:
lr.score(X_test,Y_test)

0.8181818181818182

In [36]:
y_pred = lr.predict(X_test)

In [41]:
from sklearn.metrics import confusion_matrix
conf = confusion_matrix(Y_test,y_pred)
conf

array([[75, 12],
       [14, 42]])

In [43]:
from sklearn.metrics import classification_report
cf = classification_report(Y_test,y_pred)
cf

'              precision    recall  f1-score   support\n\n         0.0       0.84      0.86      0.85        87\n         1.0       0.78      0.75      0.76        56\n\n   micro avg       0.82      0.82      0.82       143\n   macro avg       0.81      0.81      0.81       143\nweighted avg       0.82      0.82      0.82       143\n'

In [45]:
from sklearn.tree import DecisionTreeClassifier

In [51]:
decision_tree = DecisionTreeClassifier() 
decision_tree.fit(X_train, Y_train)  
y_pred = decision_tree.predict(X_test)  
decision_tree.score(X_train, Y_train) * 100

98.42381786339755

In [52]:
from sklearn.ensemble import RandomForestClassifier

In [54]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)

Y_prediction = random_forest.predict(X_test)

random_forest.score(X_train, Y_train) *100

98.42381786339755